.ncauhoi{
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 18px;
    line-height: 3;
    margin-right: 25px;
}
.ntitleq{
	font-size: 20px;
    font-family: roboto,sans-serif;
    font-weight: 700;
    color: #333;
    line-height: 1.3;
    border: 1px solid #dfdfdf;
    padding: 10px!important;
    display: inline-block;
}

.ncontentq{
	background-color: #fcf8e3;
    border-color: #faebcc;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 18px;
    line-height: 3;
    margin-right: 25px;
    margin-bottom: 75px
    
}
.ntitle{
	font-family:"BritishCouncilSansW01-Headline",Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-weight:400;
	line-height:1.1;
	color:#23085A;
	}
.paragraph {
	white-space: pre-wrap;
	word-break: break-word;
	text-align: justify;
	background: #f3f7fa;
	color: #222;
	font-size: 18px;
	font-family: 'Open Sans';
}

#main {
	padding-top: 120px;
	overflow: hidden;
}

@media ( min-width : 767px) {
	#navigation {
		margin-top: 50px;
		position: fixed;
	}
}

.fix-scrolling {
	max-height: 450px;
	z-index: -1;
	/*overflow-y: scroll;*/
}

.numberCircle {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	border: 2px solid #666;
	margin: 5px 5px 5px 15px;
}

#timeReading {
	font-size: 25px;
	margin-left: 100px;
	color: green;
	font-family: 'Open Sans';
}

#listch {
	font-size: 25px;
	margin-left: 10%;
	color: green;
	font-family: 'Open Sans';
}

.web-font {
	font-size: 15px;
	font-family: 'Arial';
}

#backhome {
	margin-left: 25px;
	text-decoration: none;
}

#btnSubmitReading {
	margin-bottom: 15px;
	margin-left: 15px;
}

#btnResultReading {
	margin-bottom: 15px;
	margin-left: 25px;
}

.note {
	text-align: center;
	margin-left: -35px;
	margin-top: 10px;
	display: none;
}

.fitnumberCircle {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 30%;
	margin-bottom: 10%;
	z-index: -1;
}

.fitTime {
	margin-left: 0px;
	margin-right: 10%;
	padding-left: 0px;
	padding-right: 0px;
}