.nonhap{
	position: relative;
    border: 1px solid #ddd;
    padding: 15px 20px;
    font-size: 16px;
    color: #1d2a57;
    font-family: Arial,Helvetica,sans-serif;
    resize: none;
    height: 119px;
    width: 90%;
}


formButton:hover {
      background-color: #27ae60;
      color:#ffffff;
    }
    .formButton:active {
      position:relative;
      top:3px;
    }
    .translate {
      margin-left: auto;
      margin-top: 50px;
      text-align: center;
      font-weight: 100;
      font-size: 2.8em;
      width:50%;
      
    }
    .translate-option {
      width:50%;
      
    }
    /*To remove the outline that appears on clicking the input textbox*/
    input:focus {
      outline: none;
    }
    /* To format the placeholder text color */
    ::-webkit-input-placeholder {
       color: #ecf0f1;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: #ecf0f1;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #ecf0f1;  
    }
    :-ms-input-placeholder {  
       color: #ecf0f1;  
    }