.table-rank{
    width: 100%;
}
.table-element{
    width: 25%;
    text-align: center;
    border: 1px solid #000;
}
.table-element-td{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #000;
}
tr{
    height: 48px;
}