<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Fanadesh</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- Custom taskbar for this template -->
  <link href="css/taskbar.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />




  <link rel="stylesheet" href="css/css-circular-prog-bar.css">


</head>

<body class="sub_page">
  <div class="top_container ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" th:href="@{/}">
            <span>
              Fanadesh
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" th:href="@{/}"> Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" th:href="@{/khoahoc}"> Khóa học </a>
                </li>

                <li class="nav-item ">
                	<div class="dropdown">
                		
                	</div>
                  <a class="nav-link" th:href="@{/listbaithi}"> Thi </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" th:href="@{/rank}"> Bảng xếp hạng </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" th:href="@{/tratu}"> Tra từ</a>
                </li>
                <!-- user -->
                <li th:unless="${session.isEmpty()}" class="user-taskbar nav-item">
                  <a class="nav-link" th:href="@{#}"><img class="avatar" src="images/avatar.jpg"></a>
                </li>
                <!-- guest -->
                <li th:if="${session.isEmpty()}" class="guest-taskbar nav-item">
                  <a th:href="@{/login}" class="taskbar-btn">
                    Đăng Nhập
                  </a>
                  <a th:href="@{/register}" class="taskbar-btn">
                    Đăng Ký
                  </a>
                </li>

              </ul>
            </div>
        </nav>
      </div>
    </header>
  </div>
  <!-- end header section -->

  <div class="common_style">

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="images/about.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Về chúng tôi
              </h3>
              <p>
                Fanadesh Là nhà tiên phong mang lại nền tảng Anh ngữ Học thuật với hơn 15 năm kinh nghiệm trong lĩnh vực đào tạo tiếng Anh và luyện thi Toeic tại Viêt Nam. Tại đây, chúng tôi luôn tâm niệm rằng học viên học tiếng Anh không chỉ là học một ngôn ngữ mới, mà còn học cách tư duy, khai phá kiến thức, học kỹ năng mềm và vốn sống để tự tin hòa nhập môi trường học tập và thành công trong môi trường làm việc toàn cầu.<br><br>

Fanadesh được quản lý bởi Fanadesh Education Group, tổ chức giáo dục có trụ sở chính tại Hà Nôi và sẽ có mặt tại hơn 5 nước và vùng lãnh thổ sử dụng tiếng Anh là ngôn ngữ chính trên toàn cầu. Fanadesh chuyên cung cấp các dịch vụ tư vấn du học, giảng dạy tiếng Anh cũng như đồng sở hữu và hướng tới tổ chức kỳ thi Toeic tại Việt Nam.<br><br>
Fanadesh tự hào là đơn vị tiên phong trong việc đưa học sinh Việt Nam ra nước ngoài giao lưu và tiếp nhận Du học sinh nước ngoài vào Việt Nam học tập, nghiên cứu. Phối hợp với các cơ quan đại diện nước ngoài tại Việt Nam thúc đẩy giao lưu văn hóa, trao đổi giáo viên tình nguyện.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->



  </div>



  <section class="info_section layout_padding-top">
    <!-- end contact section -->
  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>
        Fanadesh
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="row">
        <div class="col-md-3">
          <h5>
            Về chúng tôi
          </h5>
          <p>
            Trang web giáo dục tiếng anh tốt nhất
          </p>
        </div>
        <div class="col-md-3">
          <h5>
            Liên kết hữu ích
          </h5>
          <ul>
            <li>
              <a th:href="@{#}">
                Video trò chơi
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>
            Liên hệ chúng tôi
          </h5>
          <p>
            <a th:href="@{/contact}" style="color: white;">Liên hệ</a>
          </p>
        </div>
        <div class="col-md-3">

          <div class="subscribe_container">
            <h5>
              Bản tin
            </h5>
            <div class="form_container">
              <form action="">
                <input type="email" placeholder="Nhập email của bạn">
                <button type="submit">
                  Đặt mua
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="social_container">

        <div class="social-box">
          <a th:href="@{#}">
            <img src="images/fb.png" alt="">
          </a>

          <a th:href="@{#}">
            <img src="images/twitter.png" alt="">
          </a>
          <a th:href="@{#}">
            <img src="images/linkedin.png" alt="">
          </a>
          <a th:href="@{#}">
            <img src="images/instagram.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Bản quyền &copy; 2022 Mọi quyền được bảo lưu
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>


</body>

</html>